In [1]:
import pandas as pd

In [2]:
#讀excel
df_orderData = pd.read_excel('oea_oeb_old.xlsx', sheet_name = 0)
df_orderData1 = pd.read_excel('oea_oeb_new.xlsx', sheet_name = 0)

In [3]:
df = pd.DataFrame(df_orderData,columns=['OEB01','OEB03','OEB15','OEB16','OEA02','OEA14','TC_SFA104'])
df

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104
0,TH535-2105010001,1,2021-07-30,2021-07-30,2021-05-01,T0126,NaT
1,TH535-2105200001,1,2021-06-30,2021-06-30,2021-05-20,T0126,NaT
2,TH535-2105250001,1,2021-08-26,2021-08-26,2021-05-25,T0126,NaT
3,TH535-2105250001,2,2021-08-26,2021-08-26,2021-05-25,T0126,NaT
4,TH535-2105250001,3,2021-08-26,2021-08-26,2021-05-25,T0126,NaT
...,...,...,...,...,...,...,...
711,TT533-2106000001,19,2021-07-26,2021-08-12,2021-06-15,T0215,2021-08-05
712,TT533-2106000002,1,2021-08-20,2021-07-19,2021-06-15,T0412,2021-07-12
713,TT533-2106000003,1,2021-08-23,2021-07-29,2021-06-24,T0476,2021-07-22
714,TT533-2106000003,2,2021-08-23,2021-07-31,2021-06-24,T0476,2021-07-24
715,TT533-2106000003,3,2021-08-23,2021-07-27,2021-06-24,T0476,2021-07-20

In [4]:
df["pk"] = df["OEB01"] + "_" + df["OEB03"].map(str)
df

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104,pk
0,TH535-2105010001,1,2021-07-30,2021-07-30,2021-05-01,T0126,NaT,TH535-2105010001_1
1,TH535-2105200001,1,2021-06-30,2021-06-30,2021-05-20,T0126,NaT,TH535-2105200001_1
2,TH535-2105250001,1,2021-08-26,2021-08-26,2021-05-25,T0126,NaT,TH535-2105250001_1
3,TH535-2105250001,2,2021-08-26,2021-08-26,2021-05-25,T0126,NaT,TH535-2105250001_2
4,TH535-2105250001,3,2021-08-26,2021-08-26,2021-05-25,T0126,NaT,TH535-2105250001_3
...,...,...,...,...,...,...,...,...
711,TT533-2106000001,19,2021-07-26,2021-08-12,2021-06-15,T0215,2021-08-05,TT533-2106000001_19
712,TT533-2106000002,1,2021-08-20,2021-07-19,2021-06-15,T0412,2021-07-12,TT533-2106000002_1
713,TT533-2106000003,1,2021-08-23,2021-07-29,2021-06-24,T0476,2021-07-22,TT533-2106000003_1
714,TT533-2106000003,2,2021-08-23,2021-07-31,2021-06-24,T0476,2021-07-24,TT533-2106000003_2
715,TT533-2106000003,3,2021-08-23,2021-07-27,2021-06-24,T0476,2021-07-20,TT533-2106000003_3

In [6]:
df1 = pd.DataFrame(df_orderData1,columns=['OEB01','OEB03','OEB15','OEB16','OEA02','OEA14','TC_SFA104'])
df1

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104
0,TH535-2105010001,1,2021-07-30,2021-08-01,2021-05-01,T0126,2021-07-30
1,TH535-2105200001,1,2021-06-30,2021-06-30,2021-05-20,T0126,NaT
2,TH535-2105250001,1,2021-08-26,2021-08-26,2021-05-25,T0126,NaT
3,TH535-2105250001,2,2021-08-26,2021-08-26,2021-05-25,T0126,NaT
4,TH535-2105250001,3,2021-08-26,2021-08-26,2021-05-25,T0126,NaT
...,...,...,...,...,...,...,...
711,TT533-2106000001,19,2021-07-26,2021-08-12,2021-06-15,T0215,2021-08-05
712,TT533-2106000002,1,2021-08-20,2021-07-19,2021-06-15,T0412,2021-07-12
713,TT533-2106000003,1,2021-08-23,2021-07-29,2021-06-24,T0476,2021-07-22
714,TT533-2106000003,2,2021-08-23,2021-07-31,2021-06-24,T0476,2021-07-24
715,TT533-2106000003,3,2021-08-23,2021-07-27,2021-06-24,T0476,2021-07-20

In [7]:
df1["pk"] = df1["OEB01"] + "_" + df1["OEB03"].map(str)
df1

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104,pk
0,TH535-2105010001,1,2021-07-30,2021-08-01,2021-05-01,T0126,2021-07-30,TH535-2105010001_1
1,TH535-2105200001,1,2021-06-30,2021-06-30,2021-05-20,T0126,NaT,TH535-2105200001_1
2,TH535-2105250001,1,2021-08-26,2021-08-26,2021-05-25,T0126,NaT,TH535-2105250001_1
3,TH535-2105250001,2,2021-08-26,2021-08-26,2021-05-25,T0126,NaT,TH535-2105250001_2
4,TH535-2105250001,3,2021-08-26,2021-08-26,2021-05-25,T0126,NaT,TH535-2105250001_3
...,...,...,...,...,...,...,...,...
711,TT533-2106000001,19,2021-07-26,2021-08-12,2021-06-15,T0215,2021-08-05,TT533-2106000001_19
712,TT533-2106000002,1,2021-08-20,2021-07-19,2021-06-15,T0412,2021-07-12,TT533-2106000002_1
713,TT533-2106000003,1,2021-08-23,2021-07-29,2021-06-24,T0476,2021-07-22,TT533-2106000003_1
714,TT533-2106000003,2,2021-08-23,2021-07-31,2021-06-24,T0476,2021-07-24,TT533-2106000003_2
715,TT533-2106000003,3,2021-08-23,2021-07-27,2021-06-24,T0476,2021-07-20,TT533-2106000003_3

In [8]:
tmp = df.append(df1)
tmp.drop_duplicates(keep=False, inplace=True)
all_diff=pd.DataFrame(tmp)
all_diff

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104,pk
0,TH535-2105010001,1,2021-07-30,2021-07-30,2021-05-01,T0126,NaT,TH535-2105010001_1
18,TT531-2105000001,1,2021-07-15,2021-07-15,2021-05-03,T0412,2021-07-08,TT531-2105000001_1
19,TT531-2105000001,2,2021-07-15,2021-07-29,2021-05-03,T0412,2021-07-22,TT531-2105000001_2
25,TT531-2105000003,1,2021-07-05,2021-06-29,2021-05-03,T0437,2021-06-22,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-02,2021-05-03,T0437,2021-06-25,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-06-25,2021-05-03,T0437,2021-06-18,TT531-2105000003_3
33,TT531-2105000006,4,2021-08-02,2021-07-12,2021-05-03,T0437,2021-07-05,TT531-2105000006_4
34,TT531-2105000006,5,2021-08-02,2021-08-02,2021-05-03,T0437,NaT,TT531-2105000006_5
0,TH535-2105010001,1,2021-07-30,2021-08-01,2021-05-01,T0126,2021-07-30,TH535-2105010001_1
18,TT531-2105000001,1,2021-07-15,2021-07-20,2021-05-03,T0412,2021-07-08,TT531-2105000001_1
19,TT531-2105000001,2,2021-07-15,2021-08-01,2021-05-03,T0412,2021-07-22,TT531-2105000001_2
25,TT531-2105000003,1,2021-07-05,2021-07-08,2021-05-03,T0437,2021-06-22,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-05,2021-05-03,T0437,2021-06-25,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-07-01,2021-05-03,T0437,2021-06-28,TT531-2105000003_3
33,TT531-2105000006,4,2021-08-02,2021-07-26,2021-05-03,T0437,2021-07-15,TT531-2105000006_4
34,TT531-2105000006,5,2021-08-02,2021-08-07,2021-05-03,T0437,2021-07-15,TT531-2105000006_5

In [9]:
last = all_diff.drop_duplicates(subset=['pk'],keep='last')
last

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104,pk
0,TH535-2105010001,1,2021-07-30,2021-08-01,2021-05-01,T0126,2021-07-30,TH535-2105010001_1
18,TT531-2105000001,1,2021-07-15,2021-07-20,2021-05-03,T0412,2021-07-08,TT531-2105000001_1
19,TT531-2105000001,2,2021-07-15,2021-08-01,2021-05-03,T0412,2021-07-22,TT531-2105000001_2
25,TT531-2105000003,1,2021-07-05,2021-07-08,2021-05-03,T0437,2021-06-22,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-05,2021-05-03,T0437,2021-06-25,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-07-01,2021-05-03,T0437,2021-06-28,TT531-2105000003_3
33,TT531-2105000006,4,2021-08-02,2021-07-26,2021-05-03,T0437,2021-07-15,TT531-2105000006_4
34,TT531-2105000006,5,2021-08-02,2021-08-07,2021-05-03,T0437,2021-07-15,TT531-2105000006_5

In [10]:
first = all_diff.drop_duplicates(subset=['pk'],keep='first')
first

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104,pk
0,TH535-2105010001,1,2021-07-30,2021-07-30,2021-05-01,T0126,NaT,TH535-2105010001_1
18,TT531-2105000001,1,2021-07-15,2021-07-15,2021-05-03,T0412,2021-07-08,TT531-2105000001_1
19,TT531-2105000001,2,2021-07-15,2021-07-29,2021-05-03,T0412,2021-07-22,TT531-2105000001_2
25,TT531-2105000003,1,2021-07-05,2021-06-29,2021-05-03,T0437,2021-06-22,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-02,2021-05-03,T0437,2021-06-25,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-06-25,2021-05-03,T0437,2021-06-18,TT531-2105000003_3
33,TT531-2105000006,4,2021-08-02,2021-07-12,2021-05-03,T0437,2021-07-05,TT531-2105000006_4
34,TT531-2105000006,5,2021-08-02,2021-08-02,2021-05-03,T0437,NaT,TT531-2105000006_5

In [11]:
pk_diff = all_diff.drop_duplicates(subset=['pk'],keep=False)
pk_diff

Empty DataFrame
Columns: [OEB01, OEB03, OEB15, OEB16, OEA02, OEA14, TC_SFA104, pk]
Index: []

In [12]:
new = last.append(pk_diff).drop_duplicates(subset=['pk'],keep=False)
new

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104,pk
0,TH535-2105010001,1,2021-07-30,2021-08-01,2021-05-01,T0126,2021-07-30,TH535-2105010001_1
18,TT531-2105000001,1,2021-07-15,2021-07-20,2021-05-03,T0412,2021-07-08,TT531-2105000001_1
19,TT531-2105000001,2,2021-07-15,2021-08-01,2021-05-03,T0412,2021-07-22,TT531-2105000001_2
25,TT531-2105000003,1,2021-07-05,2021-07-08,2021-05-03,T0437,2021-06-22,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-05,2021-05-03,T0437,2021-06-25,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-07-01,2021-05-03,T0437,2021-06-28,TT531-2105000003_3
33,TT531-2105000006,4,2021-08-02,2021-07-26,2021-05-03,T0437,2021-07-15,TT531-2105000006_4
34,TT531-2105000006,5,2021-08-02,2021-08-07,2021-05-03,T0437,2021-07-15,TT531-2105000006_5

In [13]:
old = first.append(pk_diff).drop_duplicates(subset=['pk'],keep=False)
old

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,TC_SFA104,pk
0,TH535-2105010001,1,2021-07-30,2021-07-30,2021-05-01,T0126,NaT,TH535-2105010001_1
18,TT531-2105000001,1,2021-07-15,2021-07-15,2021-05-03,T0412,2021-07-08,TT531-2105000001_1
19,TT531-2105000001,2,2021-07-15,2021-07-29,2021-05-03,T0412,2021-07-22,TT531-2105000001_2
25,TT531-2105000003,1,2021-07-05,2021-06-29,2021-05-03,T0437,2021-06-22,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-02,2021-05-03,T0437,2021-06-25,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-06-25,2021-05-03,T0437,2021-06-18,TT531-2105000003_3
33,TT531-2105000006,4,2021-08-02,2021-07-12,2021-05-03,T0437,2021-07-05,TT531-2105000006_4
34,TT531-2105000006,5,2021-08-02,2021-08-02,2021-05-03,T0437,NaT,TT531-2105000006_5

In [14]:
merged_data = new.merge(old,on = ['pk','OEB01','OEB03','OEB15','OEA02','OEA14','TC_SFA104'], suffixes=('_new','_old') )
merged_data

,OEB01,OEB03,OEB15,OEB16_new,OEA02,OEA14,TC_SFA104,pk,OEB16_old
0,TT531-2105000001,1,2021-07-15,2021-07-20,2021-05-03,T0412,2021-07-08,TT531-2105000001_1,2021-07-15
1,TT531-2105000001,2,2021-07-15,2021-08-01,2021-05-03,T0412,2021-07-22,TT531-2105000001_2,2021-07-29
2,TT531-2105000003,1,2021-07-05,2021-07-08,2021-05-03,T0437,2021-06-22,TT531-2105000003_1,2021-06-29
3,TT531-2105000003,2,2021-07-05,2021-07-05,2021-05-03,T0437,2021-06-25,TT531-2105000003_2,2021-07-02

In [15]:
merged_data = new.merge(old,on = ['pk','OEB01','OEB03','OEB15','OEA02','OEA14'], suffixes=('_new','_old') )
merged_data

,OEB01,OEB03,OEB15,OEB16_new,OEA02,OEA14,TC_SFA104_new,pk,OEB16_old,TC_SFA104_old
0,TH535-2105010001,1,2021-07-30,2021-08-01,2021-05-01,T0126,2021-07-30,TH535-2105010001_1,2021-07-30,NaT
1,TT531-2105000001,1,2021-07-15,2021-07-20,2021-05-03,T0412,2021-07-08,TT531-2105000001_1,2021-07-15,2021-07-08
2,TT531-2105000001,2,2021-07-15,2021-08-01,2021-05-03,T0412,2021-07-22,TT531-2105000001_2,2021-07-29,2021-07-22
3,TT531-2105000003,1,2021-07-05,2021-07-08,2021-05-03,T0437,2021-06-22,TT531-2105000003_1,2021-06-29,2021-06-22
4,TT531-2105000003,2,2021-07-05,2021-07-05,2021-05-03,T0437,2021-06-25,TT531-2105000003_2,2021-07-02,2021-06-25
5,TT531-2105000003,3,2021-07-05,2021-07-01,2021-05-03,T0437,2021-06-28,TT531-2105000003_3,2021-06-25,2021-06-18
6,TT531-2105000006,4,2021-08-02,2021-07-26,2021-05-03,T0437,2021-07-15,TT531-2105000006_4,2021-07-12,2021-07-05
7,TT531-2105000006,5,2021-08-02,2021-08-07,2021-05-03,T0437,2021-07-15,TT531-2105000006_5,2021-08-02,NaT

In [16]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OEB01          8 non-null      object
 1   OEB03          8 non-null      int64
 2   OEB15          8 non-null      datetime64[ns]
 3   OEB16_new      8 non-null      datetime64[ns]
 4   OEA02          8 non-null      datetime64[ns]
 5   OEA14          8 non-null      object
 6   TC_SFA104_new  8 non-null      datetime64[ns]
 7   pk             8 non-null      object
 8   OEB16_old      8 non-null      datetime64[ns]
 9   TC_SFA104_old  6 non-null      datetime64[ns]
dtypes: datetime64[ns](6), int64(1), object(3)
memory usage: 704.0+ bytes

In [33]:
import datetime
# 抓完工日 = 預計下機日 + 10天
date_of_completion = merged_data['TC_SFA104_new'] + datetime.timedelta(days = 10)
# 當預計完工日超過約定交貨日時，表示可能來不及交貨
delayed_data = merged_data[date_of_completion > merged_data['OEB15']]
delayed_data

,OEB01,OEB03,OEB15,OEB16_new,OEA02,OEA14,TC_SFA104_new,pk,OEB16_old,TC_SFA104_old
0,TH535-2105010001,1,2021-07-30,2021-08-01,2021-05-01,T0126,2021-07-30,TH535-2105010001_1,2021-07-30,NaT
1,TT531-2105000001,1,2021-07-15,2021-07-20,2021-05-03,T0412,2021-07-08,TT531-2105000001_1,2021-07-15,2021-07-08
2,TT531-2105000001,2,2021-07-15,2021-08-01,2021-05-03,T0412,2021-07-22,TT531-2105000001_2,2021-07-29,2021-07-22
5,TT531-2105000003,3,2021-07-05,2021-07-01,2021-05-03,T0437,2021-06-28,TT531-2105000003_3,2021-06-25,2021-06-18

In [28]:
#final = delayed_data.loc[:, ['OEA14','OEA02','OEB01','OEB03','OEB15','OEB16_old','OEB16_new','TC_SFA104_old','TC_SFA104_new']]
final = delayed_data.loc[:, ['OEA14','OEA02','OEB01','OEB03','OEB15','OEB16_old','OEB16_new', 'TC_SFA104_new']]
final

,OEA14,OEA02,OEB01,OEB03,OEB15,OEB16_old,OEB16_new,TC_SFA104_new
0,T0126,2021-05-01,TH535-2105010001,1,2021-07-30,2021-07-30,2021-08-01,2021-07-30
1,T0412,2021-05-03,TT531-2105000001,1,2021-07-15,2021-07-15,2021-07-20,2021-07-08
2,T0412,2021-05-03,TT531-2105000001,2,2021-07-15,2021-07-29,2021-08-01,2021-07-22
5,T0437,2021-05-03,TT531-2105000003,3,2021-07-05,2021-06-25,2021-07-01,2021-06-28

In [30]:
final.sort_values(['OEA14','OEB01'], inplace = True, ignore_index=True) # 依照業務編號、訂單編號做遞增排序
final.rename(columns={'OEA02': '訂單日期', 'OEA14': '業務編號', 'OEB01': '訂單號碼', 'OEB03': '項次', 'OEB15': '約定交貨日', 'OEB16_old': '原排定交貨日', 'OEB16_new': '新排定交貨日','TC_SFA104_new':"約定下機日"}, inplace=True)
final

,業務編號,訂單日期,訂單號碼,項次,約定交貨日,原排定交貨日,新排定交貨日,約定下機日
0,T0126,2021-05-01,TH535-2105010001,1,2021-07-30,2021-07-30,2021-08-01,2021-07-30
1,T0412,2021-05-03,TT531-2105000001,1,2021-07-15,2021-07-15,2021-07-20,2021-07-08
2,T0412,2021-05-03,TT531-2105000001,2,2021-07-15,2021-07-29,2021-08-01,2021-07-22
3,T0437,2021-05-03,TT531-2105000003,3,2021-07-05,2021-06-25,2021-07-01,2021-06-28

In [14]:
#dataframe轉html
df_html = final.to_html(escape=False,index=False, justify = 'center')

In [ ]:
# 當沒有符合判斷條件的資料時，回傳None
if final.empty == True:
    return None
# 回傳final的html格式
return df_html

In [76]:
def read_file(file):
    with open(file,'r',encoding="utf-8") as f:
            content_list = f.read().split('\n')
    return content_list
emails = read_file('email.txt')
emails

['waytexrpa@gmail.com',
 'rgumovzzhowbxqbl',
 'goofyamilo@gmail.com',
 '----使用說明--------------------------------------------------------',
 '在第1行輸入寄件人Gmail帳號',
 '在第2行輸入寄件人Gmail之應用程式密碼(非信箱原始密碼，需開啟兩步驟驗證後另外取得)',
 '在第3行輸入收件人信箱，格式如下:',
 '    單個收件人: Fene1977@dayrep.com',
 '    多個收件人: Hinte1969@jourrapide.com, Fene1977@rhyta.com, Fene1977@teleworm.us',
 '注意: 檔名email.txt請勿更改。前三行請勿任意換行。',
 '--------------------------------------------------------------------']

In [56]:

recipients = [emails[2]]

recipients

['goofyamilo@gmail.com,ytluo693@gmail.com']

In [70]:
a=emails[2].split(', ')
a

['goofyamilo@gmail.com', 'ytluo693@gmail.com']

In [77]:
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText#專門傳送正文
from email.mime.image import MIMEImage
import sys
import smtplib
import datetime

def SendMail():
    #print('start to send mail...')
    emails = read_file('email.txt') #讀email資料
    sender = emails[0] #step1:setup sender gmail,ex:"Fene1977@superrito.com"
    password = emails[1] #step2:setup sender gmail password
    recipients = emails[2].split(', ') #step3:setup recipients mail
    today = datetime.date.today()
    sub = today.strftime("%m/%d") + "訂單交期更改通知" #step4:setup your subject
    
    #單個收件人,ex:recipients = 'Fene1977@dayrep.com'  
    #多個收件人,ex:"Hinte1969@jourrapide.com,Fene1977@rhyta.com,Fene1977@teleworm.us"
    
    outer = MIMEMultipart()
    outer['From'] = sender #step:setup sender gmail
    outer['To'] = ','.join(recipients) #step:setup recipient mail
    #outer["Cc"]="cc mail" #step:setup cc mail
    outer['Subject'] = sub #step:setup your subject

    #設定純文字資訊
    plainText = "偵測到訂單排定交貨日更改，請確認以下訂單："
    msgText = MIMEText(plainText, 'plain', 'utf-8')
    outer.attach(msgText)
    #設定HTML資訊
    #htmlText = df_html #step7:edit your mail content
    #msgText = MIMEText(htmlText, 'html', 'utf-8')
    #outer.attach(msgText)

    mailBody = outer.as_string()
    #-----------------------------------------------------------------------
    
    # 寄送EMAIL
    try:
        with smtplib.SMTP(host="smtp.gmail.com", port="587") as s: #send webservice to gmail smtp socket
            s.ehlo()  # 驗證SMTP伺服器
            s.starttls()  # 建立加密傳輸
            s.login(sender, password)  # 登入寄件者gmail
            s.sendmail(sender, recipients,mailBody)  # 寄送郵件
            s.close()
        print("Email sent!")
    except:
        print("Unable to send the email. Error: ", sys.exc_info()[0])
        raise
       
SendMail()

Email sent!

In [14]:
import os
def remove_file(file_name):
    try:
        os.remove(file_name)
    except OSError as e:
        print(e)
    else:
        print("File is deleted successfully")
file_name = file2
remove_file(file_name)

File is deleted successfully

In [9]:
def read_file(file):
    with open(file,'r',encoding="utf-8") as f:
            content_list = f.read().split('\n')
    return content_list
fileName = read_file('fileName.txt')
fileName[1]

'copy2.xlsx'

In [12]:
import shutil
def copy_file1_as_file2(file1, file2):
    try:
        shutil.copyfile(file1, file2)
        print("Copy %s as %s successfully"%(file1, file2))
    except OSError as err:
        print(err)

file1 = fileName[0]
file2 = fileName[2]

copy_file1_as_file2(file1, file2)

Copy copy1.xlsx as copy3.xlsx successfully