In [1]:
import pandas as pd

In [2]:
#讀excel
df_orderData = pd.read_excel('T_oea_oeb.xlsx', sheet_name = 0)
df_orderData1 = pd.read_excel('T_oea_oeb_0617.xlsx', sheet_name = 0)

In [3]:
df = pd.DataFrame(df_orderData,columns=['OEB01','OEB03','OEB15','OEB16','OEA02','OEA14'])
df

                OEB01  OEB03      OEB15      OEB16      OEA02  OEA14
0    TH535-2105010001      1 2021-07-30 2021-07-30 2021-05-01  T0126
1    TH535-2105200001      1 2021-06-30 2021-06-30 2021-05-20  T0126
2    TH535-2105250001      1 2021-08-26 2021-08-26 2021-05-25  T0126
3    TH535-2105250001      2 2021-08-26 2021-08-26 2021-05-25  T0126
4    TH535-2105250001      3 2021-08-26 2021-08-26 2021-05-25  T0126
..                ...    ...        ...        ...        ...    ...
509  TT533-2105000001     12 2021-06-28 2021-07-12 2021-05-04  T0215
510  TT533-2105000001     13 2021-06-28 2021-06-28 2021-05-04  T0215
511  TT533-2105000001     14 2021-06-28 2021-08-03 2021-05-04  T0215
512  TT533-2105000001     15 2021-06-28 2021-07-14 2021-05-04  T0215
513  TT533-2105000002      1 2021-05-14 2021-06-26 2021-05-14  T0412

[514 rows x 6 columns]

In [4]:
df["pk"] = df["OEB01"] + "_" + df["OEB03"].map(str)
df

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,pk
0,TH535-2105010001,1,2021-07-30,2021-07-30,2021-05-01,T0126,TH535-2105010001_1
1,TH535-2105200001,1,2021-06-30,2021-06-30,2021-05-20,T0126,TH535-2105200001_1
2,TH535-2105250001,1,2021-08-26,2021-08-26,2021-05-25,T0126,TH535-2105250001_1
3,TH535-2105250001,2,2021-08-26,2021-08-26,2021-05-25,T0126,TH535-2105250001_2
4,TH535-2105250001,3,2021-08-26,2021-08-26,2021-05-25,T0126,TH535-2105250001_3
...,...,...,...,...,...,...,...
509,TT533-2105000001,12,2021-06-28,2021-07-12,2021-05-04,T0215,TT533-2105000001_12
510,TT533-2105000001,13,2021-06-28,2021-06-28,2021-05-04,T0215,TT533-2105000001_13
511,TT533-2105000001,14,2021-06-28,2021-08-03,2021-05-04,T0215,TT533-2105000001_14
512,TT533-2105000001,15,2021-06-28,2021-07-14,2021-05-04,T0215,TT533-2105000001_15
513,TT533-2105000002,1,2021-05-14,2021-06-26,2021-05-14,T0412,TT533-2105000002_1

In [5]:
df1 = pd.DataFrame(df_orderData1,columns=['OEB01','OEB03','OEB15','OEB16','OEA02','OEA14'])
df1

                OEB01  OEB03      OEB15      OEB16      OEA02  OEA14
0    TH535-2105010001      1 2021-07-30 2021-07-30 2021-05-01  T0126
1    TH535-2105200001      1 2021-06-30 2021-06-30 2021-05-20  T0126
2    TH535-2105250001      1 2021-08-26 2021-08-26 2021-05-25  T0126
3    TH535-2105250001      2 2021-08-26 2021-08-26 2021-05-25  T0126
4    TH535-2105250001      3 2021-08-26 2021-08-26 2021-05-25  T0126
..                ...    ...        ...        ...        ...    ...
555  TT533-2106000001     16 2021-07-26 2021-07-26 2021-06-15  T0215
556  TT533-2106000001     17 2021-07-26 2021-07-26 2021-06-15  T0215
557  TT533-2106000001     18 2021-07-26 2021-07-26 2021-06-15  T0215
558  TT533-2106000001     19 2021-07-26 2021-07-26 2021-06-15  T0215
559  TT533-2106000002      1 2021-08-20 2021-08-20 2021-06-15  T0412

[560 rows x 6 columns]

In [6]:
df1["pk"] = df1["OEB01"] + "_" + df1["OEB03"].map(str)
df1

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,pk
0,TH535-2105010001,1,2021-07-30,2021-07-30,2021-05-01,T0126,TH535-2105010001_1
1,TH535-2105200001,1,2021-06-30,2021-06-30,2021-05-20,T0126,TH535-2105200001_1
2,TH535-2105250001,1,2021-08-26,2021-08-26,2021-05-25,T0126,TH535-2105250001_1
3,TH535-2105250001,2,2021-08-26,2021-08-26,2021-05-25,T0126,TH535-2105250001_2
4,TH535-2105250001,3,2021-08-26,2021-08-26,2021-05-25,T0126,TH535-2105250001_3
...,...,...,...,...,...,...,...
555,TT533-2106000001,16,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_16
556,TT533-2106000001,17,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_17
557,TT533-2106000001,18,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_18
558,TT533-2106000001,19,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_19
559,TT533-2106000002,1,2021-08-20,2021-08-20,2021-06-15,T0412,TT533-2106000002_1

In [12]:
tmp = df.append(df1)
tmp.drop_duplicates(keep=False, inplace=True)
all_diff=pd.DataFrame(tmp)
all_diff

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,pk
25,TT531-2105000003,1,2021-07-05,2021-06-25,2021-05-03,T0437,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-01,2021-05-03,T0437,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-06-24,2021-05-03,T0437,TT531-2105000003_3
29,TT531-2105000005,1,2021-07-09,2021-07-03,2021-05-03,T0412,TT531-2105000005_1
31,TT531-2105000006,2,2021-08-02,2021-07-08,2021-05-03,T0437,TT531-2105000006_2
...,...,...,...,...,...,...,...
555,TT533-2106000001,16,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_16
556,TT533-2106000001,17,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_17
557,TT533-2106000001,18,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_18
558,TT533-2106000001,19,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_19
559,TT533-2106000002,1,2021-08-20,2021-08-20,2021-06-15,T0412,TT533-2106000002_1

In [13]:
last = all_diff.drop_duplicates(subset=['pk'],keep='last')
last

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,pk
25,TT531-2105000003,1,2021-07-05,2021-06-28,2021-05-03,T0437,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-06-30,2021-05-03,T0437,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-06-25,2021-05-03,T0437,TT531-2105000003_3
29,TT531-2105000005,1,2021-07-09,2021-07-01,2021-05-03,T0412,TT531-2105000005_1
31,TT531-2105000006,2,2021-08-02,2021-07-09,2021-05-03,T0437,TT531-2105000006_2
...,...,...,...,...,...,...,...
555,TT533-2106000001,16,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_16
556,TT533-2106000001,17,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_17
557,TT533-2106000001,18,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_18
558,TT533-2106000001,19,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_19
559,TT533-2106000002,1,2021-08-20,2021-08-20,2021-06-15,T0412,TT533-2106000002_1

In [14]:
first = all_diff.drop_duplicates(subset=['pk'],keep='first')
first

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,pk
25,TT531-2105000003,1,2021-07-05,2021-06-25,2021-05-03,T0437,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-01,2021-05-03,T0437,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-06-24,2021-05-03,T0437,TT531-2105000003_3
29,TT531-2105000005,1,2021-07-09,2021-07-03,2021-05-03,T0412,TT531-2105000005_1
31,TT531-2105000006,2,2021-08-02,2021-07-08,2021-05-03,T0437,TT531-2105000006_2
...,...,...,...,...,...,...,...
555,TT533-2106000001,16,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_16
556,TT533-2106000001,17,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_17
557,TT533-2106000001,18,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_18
558,TT533-2106000001,19,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_19
559,TT533-2106000002,1,2021-08-20,2021-08-20,2021-06-15,T0412,TT533-2106000002_1

In [15]:
pk_diff = all_diff.drop_duplicates(subset=['pk'],keep=False)
pk_diff

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,pk
465,TT531-2106000015,1,2021-07-26,2021-07-26,2021-06-15,T0215,TT531-2106000015_1
466,TT531-2106000015,2,2021-07-26,2021-07-26,2021-06-15,T0215,TT531-2106000015_2
467,TT531-2106000015,3,2021-07-26,2021-07-26,2021-06-15,T0215,TT531-2106000015_3
468,TT531-2106000015,4,2021-07-26,2021-07-26,2021-06-15,T0215,TT531-2106000015_4
469,TT531-2106000015,5,2021-07-26,2021-07-26,2021-06-15,T0215,TT531-2106000015_5
470,TT531-2106000015,6,2021-07-26,2021-07-26,2021-06-15,T0215,TT531-2106000015_6
471,TT531-2106000015,7,2021-07-26,2021-07-26,2021-06-15,T0215,TT531-2106000015_7
472,TT531-2106000016,1,2021-06-15,2021-06-15,2021-06-15,T0412,TT531-2106000016_1
473,TT531-2106000017,1,2021-09-24,2021-09-24,2021-06-15,T0437,TT531-2106000017_1
474,TT531-2106000017,2,2021-09-24,2021-09-24,2021-06-15,T0437,TT531-2106000017_2
475,TT531-2106000017,3,2021-09-24,2021-09-24,2021-06-15,T0437,TT531-2106000017_3
476,TT531-2106000017,4,2021-09-24,2021-09-24,2021-06-15,T0437,TT531-2106000017_4
477,TT531-2106000018,1,2021-10-22,2021-10-22,2021-06-15,T0437,TT531-2106000018_1
478,TT531-2106000018,2,2021-10-22,2021-10-22,2021-06-15,T0437,TT531-2106000018_2
479,TT531-2106000019,1,2021-08-09,2021-08-09,2021-06-15,T0437,TT531-2106000019_1
480,TT531-2106000019,2,2021-08-09,2021-08-09,2021-06-15,T0437,TT531-2106000019_2
481,TT531-2106000019,3,2021-08-09,2021-08-09,2021-06-15,T0437,TT531-2106000019_3
482,TT531-2106000019,4,2021-08-09,2021-08-09,2021-06-15,T0437,TT531-2106000019_4
483,TT531-2106000019,5,2021-08-09,2021-08-09,2021-06-15,T0437,TT531-2106000019_5
484,TT531-2106000020,1,2021-08-10,2021-08-10,2021-06-16,T0437,TT531-2106000020_1
485,TT531-2106000020,2,2021-08-10,2021-08-10,2021-06-16,T0437,TT531-2106000020_2
486,TT531-2106000020,3,2021-08-10,2021-08-10,2021-06-16,T0437,TT531-2106000020_3
487,TT531-2106000020,4,2021-08-10,2021-08-10,2021-06-16,T0437,TT531-2106000020_4
488,TT531-2106000020,5,2021-08-10,2021-08-10,2021-06-16,T0437,TT531-2106000020_5
489,TT531-2106000021,1,2021-06-17,2021-06-17,2021-06-16,T0476,TT531-2106000021_1
523,TT532-2106000003,1,2021-06-29,2021-06-29,2021-06-15,T0437,TT532-2106000003_1
540,TT533-2106000001,1,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_1
541,TT533-2106000001,2,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_2
542,TT533-2106000001,3,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_3
543,TT533-2106000001,4,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_4
544,TT533-2106000001,5,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_5
545,TT533-2106000001,6,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_6
546,TT533-2106000001,7,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_7
547,TT533-2106000001,8,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_8
548,TT533-2106000001,9,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_9
549,TT533-2106000001,10,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_10
550,TT533-2106000001,11,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_11
551,TT533-2106000001,12,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_12
552,TT533-2106000001,13,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_13
553,TT533-2106000001,14,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_14
554,TT533-2106000001,15,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_15
555,TT533-2106000001,16,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_16
556,TT533-2106000001,17,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_17
557,TT533-2106000001,18,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_18
558,TT533-2106000001,19,2021-07-26,2021-07-26,2021-06-15,T0215,TT533-2106000001_19
559,TT533-2106000002,1,2021-08-20,2021-08-20,2021-06-15,T0412,TT533-2106000002_1

In [16]:
new = last.append(pk_diff).drop_duplicates(subset=['pk'],keep=False)
new

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,pk
25,TT531-2105000003,1,2021-07-05,2021-06-28,2021-05-03,T0437,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-06-30,2021-05-03,T0437,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-06-25,2021-05-03,T0437,TT531-2105000003_3
29,TT531-2105000005,1,2021-07-09,2021-07-01,2021-05-03,T0412,TT531-2105000005_1
31,TT531-2105000006,2,2021-08-02,2021-07-09,2021-05-03,T0437,TT531-2105000006_2
...,...,...,...,...,...,...,...
526,TT533-2105000001,3,2021-06-28,2021-07-12,2021-05-04,T0215,TT533-2105000001_3
527,TT533-2105000001,4,2021-06-28,2021-07-06,2021-05-04,T0215,TT533-2105000001_4
529,TT533-2105000001,6,2021-06-28,2021-07-26,2021-05-04,T0215,TT533-2105000001_6
532,TT533-2105000001,9,2021-06-28,2021-08-04,2021-05-04,T0215,TT533-2105000001_9
533,TT533-2105000001,10,2021-06-28,2021-07-08,2021-05-04,T0215,TT533-2105000001_10

In [17]:
old = first.append(pk_diff).drop_duplicates(subset=['pk'],keep=False)
old

,OEB01,OEB03,OEB15,OEB16,OEA02,OEA14,pk
25,TT531-2105000003,1,2021-07-05,2021-06-25,2021-05-03,T0437,TT531-2105000003_1
26,TT531-2105000003,2,2021-07-05,2021-07-01,2021-05-03,T0437,TT531-2105000003_2
27,TT531-2105000003,3,2021-07-05,2021-06-24,2021-05-03,T0437,TT531-2105000003_3
29,TT531-2105000005,1,2021-07-09,2021-07-03,2021-05-03,T0412,TT531-2105000005_1
31,TT531-2105000006,2,2021-08-02,2021-07-08,2021-05-03,T0437,TT531-2105000006_2
...,...,...,...,...,...,...,...
500,TT533-2105000001,3,2021-06-28,2021-07-16,2021-05-04,T0215,TT533-2105000001_3
501,TT533-2105000001,4,2021-06-28,2021-07-05,2021-05-04,T0215,TT533-2105000001_4
503,TT533-2105000001,6,2021-06-28,2021-07-19,2021-05-04,T0215,TT533-2105000001_6
506,TT533-2105000001,9,2021-06-28,2021-08-02,2021-05-04,T0215,TT533-2105000001_9
507,TT533-2105000001,10,2021-06-28,2021-07-07,2021-05-04,T0215,TT533-2105000001_10

In [18]:
final = new.merge(old,on = ['pk','OEB01','OEB03','OEB15','OEA02','OEA14'], suffixes=('_new','_old') )
final = final[['OEA14','OEA02','OEB01','OEB03','OEB15','OEB16_old','OEB16_new']]
final.sort_values('OEA14')
final.rename(columns={'OEA02': '訂單日期', 'OEA14': '業務編號', 'OEB01': '訂單號碼', 'OEB03': '項次', 'OEB15': '約定交貨日', 'OEB16_old': '原排定交貨日', 'OEB16_new': '新排定交貨日'}, inplace=True)
final

      業務編號       訂單日期              訂單號碼  項次      約定交貨日     原排定交貨日     新排定交貨日
0    T0437 2021-05-03  TT531-2105000003   1 2021-07-05 2021-06-25 2021-06-28
1    T0437 2021-05-03  TT531-2105000003   2 2021-07-05 2021-07-01 2021-06-30
2    T0437 2021-05-03  TT531-2105000003   3 2021-07-05 2021-06-24 2021-06-25
3    T0412 2021-05-03  TT531-2105000005   1 2021-07-09 2021-07-03 2021-07-01
4    T0437 2021-05-03  TT531-2105000006   2 2021-08-02 2021-07-08 2021-07-09
..     ...        ...               ...  ..        ...        ...        ...
105  T0215 2021-05-04  TT533-2105000001   3 2021-06-28 2021-07-16 2021-07-12
106  T0215 2021-05-04  TT533-2105000001   4 2021-06-28 2021-07-05 2021-07-06
107  T0215 2021-05-04  TT533-2105000001   6 2021-06-28 2021-07-19 2021-07-26
108  T0215 2021-05-04  TT533-2105000001   9 2021-06-28 2021-08-02 2021-08-04
109  T0215 2021-05-04  TT533-2105000001  10 2021-06-28 2021-07-07 2021-07-08

[110 rows x 7 columns]

In [26]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 0 to 109
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   業務編號    110 non-null    object
 1   訂單日期    110 non-null    datetime64[ns]
 2   訂單號碼    110 non-null    object
 3   項次      110 non-null    int64
 4   約定交貨日   110 non-null    datetime64[ns]
 5   原排定交貨日  110 non-null    datetime64[ns]
 6   新排定交貨日  110 non-null    datetime64[ns]
dtypes: datetime64[ns](4), int64(1), object(2)
memory usage: 6.9+ KB

In [28]:
import datetime #导入日期时间模块
today = datetime.datetime.now() #获得今天的日期
finaldate = today + datetime.timedelta(days=5) #用今天日期加上时间差，参数为5天，获得5天後的日期
finaldate

datetime.datetime(2021, 7, 6, 12, 26, 26, 30129)

In [29]:
a = final[final['約定交貨日']<=finaldate]
a

      業務編號       訂單日期              訂單號碼  項次      約定交貨日     原排定交貨日     新排定交貨日
0    T0437 2021-05-03  TT531-2105000003   1 2021-07-05 2021-06-25 2021-06-28
1    T0437 2021-05-03  TT531-2105000003   2 2021-07-05 2021-07-01 2021-06-30
2    T0437 2021-05-03  TT531-2105000003   3 2021-07-05 2021-06-24 2021-06-25
34   T0215 2021-05-19  TT531-2105000031   2 2021-07-05 2021-07-12 2021-07-13
35   T0215 2021-05-19  TT531-2105000031   5 2021-07-05 2021-07-26 2021-08-02
36   T0215 2021-05-19  TT531-2105000031   6 2021-07-05 2021-07-08 2021-07-15
37   T0215 2021-05-19  TT531-2105000031   7 2021-07-05 2021-07-12 2021-07-19
38   T0215 2021-05-19  TT531-2105000031   9 2021-07-05 2021-07-05 2021-07-08
39   T0215 2021-05-19  TT531-2105000031  15 2021-07-05 2021-07-21 2021-07-12
40   T0215 2021-05-19  TT531-2105000031  22 2021-07-05 2021-07-05 2021-07-06
41   T0215 2021-05-19  TT531-2105000031  27 2021-07-05 2021-07-14 2021-07-15
42   T0215 2021-05-19  TT531-2105000031  29 2021-07-05 2021-07-27 2021-07-28
105  T0215 2021-05-04  TT533-2105000001   3 2021-06-28 2021-07-16 2021-07-12
106  T0215 2021-05-04  TT533-2105000001   4 2021-06-28 2021-07-05 2021-07-06
107  T0215 2021-05-04  TT533-2105000001   6 2021-06-28 2021-07-19 2021-07-26
108  T0215 2021-05-04  TT533-2105000001   9 2021-06-28 2021-08-02 2021-08-04
109  T0215 2021-05-04  TT533-2105000001  10 2021-06-28 2021-07-07 2021-07-08

In [31]:
b = a[a['約定交貨日']<=a['新排定交貨日']]
b

      業務編號       訂單日期              訂單號碼  項次      約定交貨日     原排定交貨日     新排定交貨日
34   T0215 2021-05-19  TT531-2105000031   2 2021-07-05 2021-07-12 2021-07-13
35   T0215 2021-05-19  TT531-2105000031   5 2021-07-05 2021-07-26 2021-08-02
36   T0215 2021-05-19  TT531-2105000031   6 2021-07-05 2021-07-08 2021-07-15
37   T0215 2021-05-19  TT531-2105000031   7 2021-07-05 2021-07-12 2021-07-19
38   T0215 2021-05-19  TT531-2105000031   9 2021-07-05 2021-07-05 2021-07-08
39   T0215 2021-05-19  TT531-2105000031  15 2021-07-05 2021-07-21 2021-07-12
40   T0215 2021-05-19  TT531-2105000031  22 2021-07-05 2021-07-05 2021-07-06
41   T0215 2021-05-19  TT531-2105000031  27 2021-07-05 2021-07-14 2021-07-15
42   T0215 2021-05-19  TT531-2105000031  29 2021-07-05 2021-07-27 2021-07-28
105  T0215 2021-05-04  TT533-2105000001   3 2021-06-28 2021-07-16 2021-07-12
106  T0215 2021-05-04  TT533-2105000001   4 2021-06-28 2021-07-05 2021-07-06
107  T0215 2021-05-04  TT533-2105000001   6 2021-06-28 2021-07-19 2021-07-26
108  T0215 2021-05-04  TT533-2105000001   9 2021-06-28 2021-08-02 2021-08-04
109  T0215 2021-05-04  TT533-2105000001  10 2021-06-28 2021-07-07 2021-07-08

In [34]:
c = b[b['新排定交貨日']>b['原排定交貨日']+datetime.timedelta(days=3)]
c

      業務編號       訂單日期              訂單號碼  項次      約定交貨日     原排定交貨日     新排定交貨日
35   T0215 2021-05-19  TT531-2105000031   5 2021-07-05 2021-07-26 2021-08-02
36   T0215 2021-05-19  TT531-2105000031   6 2021-07-05 2021-07-08 2021-07-15
37   T0215 2021-05-19  TT531-2105000031   7 2021-07-05 2021-07-12 2021-07-19
107  T0215 2021-05-04  TT533-2105000001   6 2021-06-28 2021-07-19 2021-07-26

In [14]:
#dataframe轉html
df_html = final.to_html(escape=False,index=False, justify = 'center')

In [76]:
def read_file(file):
    with open(file,'r',encoding="utf-8") as f:
            content_list = f.read().split('\n')
    return content_list
emails = read_file('email.txt')
emails

['waytexrpa@gmail.com',
 'rgumovzzhowbxqbl',
 'goofyamilo@gmail.com',
 '----使用說明--------------------------------------------------------',
 '在第1行輸入寄件人Gmail帳號',
 '在第2行輸入寄件人Gmail之應用程式密碼(非信箱原始密碼，需開啟兩步驟驗證後另外取得)',
 '在第3行輸入收件人信箱，格式如下:',
 '    單個收件人: Fene1977@dayrep.com',
 '    多個收件人: Hinte1969@jourrapide.com, Fene1977@rhyta.com, Fene1977@teleworm.us',
 '注意: 檔名email.txt請勿更改。前三行請勿任意換行。',
 '--------------------------------------------------------------------']

In [56]:

recipients = [emails[2]]

recipients

['goofyamilo@gmail.com,ytluo693@gmail.com']

In [70]:
a=emails[2].split(', ')
a

['goofyamilo@gmail.com', 'ytluo693@gmail.com']

In [77]:
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText#專門傳送正文
from email.mime.image import MIMEImage
import sys
import smtplib
import datetime

def SendMail():
    #print('start to send mail...')
    emails = read_file('email.txt') #讀email資料
    sender = emails[0] #step1:setup sender gmail,ex:"Fene1977@superrito.com"
    password = emails[1] #step2:setup sender gmail password
    recipients = emails[2].split(', ') #step3:setup recipients mail
    today = datetime.date.today()
    sub = today.strftime("%m/%d") + "訂單交期更改通知" #step4:setup your subject
    
    #單個收件人,ex:recipients = 'Fene1977@dayrep.com'  
    #多個收件人,ex:"Hinte1969@jourrapide.com,Fene1977@rhyta.com,Fene1977@teleworm.us"
    
    outer = MIMEMultipart()
    outer['From'] = sender #step:setup sender gmail
    outer['To'] = ','.join(recipients) #step:setup recipient mail
    #outer["Cc"]="cc mail" #step:setup cc mail
    outer['Subject'] = sub #step:setup your subject

    #設定純文字資訊
    plainText = "偵測到訂單排定交貨日更改，請確認以下訂單："
    msgText = MIMEText(plainText, 'plain', 'utf-8')
    outer.attach(msgText)
    #設定HTML資訊
    #htmlText = df_html #step7:edit your mail content
    #msgText = MIMEText(htmlText, 'html', 'utf-8')
    #outer.attach(msgText)

    mailBody = outer.as_string()
    #-----------------------------------------------------------------------
    
    # 寄送EMAIL
    try:
        with smtplib.SMTP(host="smtp.gmail.com", port="587") as s: #send webservice to gmail smtp socket
            s.ehlo()  # 驗證SMTP伺服器
            s.starttls()  # 建立加密傳輸
            s.login(sender, password)  # 登入寄件者gmail
            s.sendmail(sender, recipients,mailBody)  # 寄送郵件
            s.close()
        print("Email sent!")
    except:
        print("Unable to send the email. Error: ", sys.exc_info()[0])
        raise
       
SendMail()

Email sent!

In [14]:
import os
def remove_file(file_name):
    try:
        os.remove(file_name)
    except OSError as e:
        print(e)
    else:
        print("File is deleted successfully")
file_name = file2
remove_file(file_name)

File is deleted successfully

In [9]:
def read_file(file):
    with open(file,'r',encoding="utf-8") as f:
            content_list = f.read().split('\n')
    return content_list
fileName = read_file('fileName.txt')
fileName[1]

'copy2.xlsx'

In [12]:
import shutil
def copy_file1_as_file2(file1, file2):
    try:
        shutil.copyfile(file1, file2)
        print("Copy %s as %s successfully"%(file1, file2))
    except OSError as err:
        print(err)

file1 = fileName[0]
file2 = fileName[2]

copy_file1_as_file2(file1, file2)

Copy copy1.xlsx as copy3.xlsx successfully