In [1]:
import pandas as pd
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText #專門傳送正文
import smtplib
import sys
import datetime
import os
from pandas.core.frame import DataFrame

In [2]:
def load_data(file_name):
    df_data = pd.read_excel(file_name)
    return df_data

In [22]:
def data_process(df, df1):
    id2_count = 0
    mail_list = []
    for id2 in df.iteritems(): 
        id2_count += 1
        id1_count = 0
        for id1 in df1.iteritems():
            id1_count += 1 
            if(id2[1][1] == id1[1][1]) and (id2_count != id1_count):
                print("id1:",id1[1][1],"id2:",id2[1][1],"id1_count:",id1_count,"id2_count:",id2_count)
                mail_list.append(id1[1][1])
    if df.equals(df1):
        return None
    
               
    c = {"mail_list" : mail_list} #list轉df
    mail_list_df = DataFrame(c)
    print(mail_list_df)
    #dataframe轉html
    df_html = mail_list_df.to_html(escape=False,index=False, justify = 'center')
    
    # 回傳final的html格式
    return df_html
mail_content = data_process(yesterday, today)
mail_content

id1: 4/11A5 id2: 4/11A5 id1_count: 3 id2_count: 9
id1: 456 id2: 456 id1_count: 9 id2_count: 12
id1: 110025 id2: 110025 id1_count: 12 id2_count: 21
id1: 123 id2: 123 id1_count: 5 id2_count: 25
  mail_list
0    4/11A5
1       456
2    110025
3       123

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th>mail_list</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>4/11A5</td>\n    </tr>\n    <tr>\n      <td>456</td>\n    </tr>\n    <tr>\n      <td>110025</td>\n    </tr>\n    <tr>\n      <td>123</td>\n    </tr>\n  </tbody>\n</table>'

In [36]:
def data_process(df, df1):
    length = df.shape[0]
    id2_count = 0
    mail_list = []
    for id2 in df.iteritems(): 
        id2_count += 1
        id1_count = 0
        for id1 in df1.iteritems():
            id1_count += 1
            for i in range(1,length,7):
                if(id2[1][i] == id1[1][i]) and (id2_count != id1_count):
                    print("id1:",id1[1][i],"id2:",id2[1][i],"id1_count:",id1_count,"id2_count:",id2_count)
                    mail_list.append(id1[1][i])
                    
    # mail_list長度為0時，表示空list，即未修改            
    if len(mail_list) == 0:
        return None
                   
    c = {"mail_list" : mail_list} #list轉df
    mail_list_df = DataFrame(c)
    
    #dataframe轉html
    df_html = mail_list_df.to_html(escape=False,index=False, justify = 'center')
    
    # 回傳final的html格式
    return df_html
mail_content = data_process(yesterday, today)

Empty DataFrame
Columns: [mail_list]
Index: []

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th>mail_list</th>\n    </tr>\n  </thead>\n  <tbody>\n  </tbody>\n</table>'

In [37]:
df=yesterday
df1= today
id2_count = 0
mail_list = []
for id2 in df.iteritems(): 
    #print(id2_count)
    id2_count += 1
    id1_count = 0
    #print(id2[1][8],"//")
    for id1 in df1.iteritems():
        #print(id1_count)
        id1_count += 1
        for i in range(1,89,7):
            if(id2[1][i] == id1[1][i]) and (id2_count != id1_count):
                print("id1:",id1[1][i],"id2:",id2[1][i],"id1_count:",id1_count,"id2_count:",id2_count)
                mail_list.append(id1[1][i])
   


print(mail_list)

[]

In [43]:
if len(mail_list) == 0:
    print("tr")
else:
    print("F")

tr

In [50]:
id2[1][1]

NaT

In [34]:
#yesterday = load_data('生產進度110.1-12_old.xlsx', sheet_name = '109.01-')
#today = load_data('生產進度110.1-12.xlsx', sheet_name = '109.01-')
yesterday = load_data('05191.xlsx')
today = load_data('05192.xlsx')

yesterday.head(15)

,Unnamed: 0,星期二,星期三,星期四,星期五,星期六,星期日,星期一,星期二.1,星期三.1,...,星期一.33,星期二.35,星期三.36,星期四.35,星期五.35,星期六.35,星期日.30,星期一.34,星期二.36,星期三.37
0,106,2020-12-01 00:00:00,2020-12-02,2020-12-03,2020-12-04 00:00:00,2020-12-05,2020-12-06 00:00:00,12/7雙,2020-12-08 00:00:00,12/9黑,...,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16,2021-08-17,2021-08-18
1,NaN,NaN,NaT,NaT,NaN,NaT,NaN,NaN,4/11A5,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,201,NaN,NaT,NaT,NaN,NaT,NaN,S客人,原料日期,S客人,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,NaN,故,NaT,NaT,NaN,NaT,沒緯紗,料號,NaN,料號,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,4860條,NaN,NaT,NaT,NaN,NaT,NaN,組織規格,110140,組織規格,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
5,(3.5米),NaN,NaT,NaT,NaN,NaT,NaN,NaN,組織規格2,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
6,"118""",NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
7,NaN,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
8,NaN,NaN,NaT,NaT,4/11A5,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
9,202-1,NaN,NaT,NaT,原料日期,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
10,NaN,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
11,NaN,NaN,NaT,NaT,110140,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
12,NaN,NaN,NaT,NaT,組織規格2,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
13,NaN,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
14,NaN,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [32]:
today.head(10)

,Unnamed: 0,星期二,星期三,星期四,星期五,星期六,星期日,星期一,星期二.1,星期三.1,...,星期一.33,星期二.35,星期三.36,星期四.35,星期五.35,星期六.35,星期日.30,星期一.34,星期二.36,星期三.37
0,106,2020-12-01 00:00:00,2020-12-02,2020-12-03 00:00:00,2020-12-04 00:00:00,2020-12-05 00:00:00,2020-12-06 00:00:00,12/7雙,2020-12-08,12/9黑,...,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16,2021-08-17,2021-08-18
1,NaN,NaN,NaT,NaN,4/11A5,456,NaN,NaN,NaT,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,201,NaN,NaT,NaN,原料日期,NaN,NaN,S客人,NaT,S客人,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,NaN,故,NaT,NaN,NaN,NaN,沒緯紗,料號,NaT,料號,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,4860條,NaN,NaT,NaN,110140,NaN,NaN,組織規格,NaT,組織規格,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
5,(3.5米),NaN,NaT,NaN,組織規格2,NaN,NaN,NaN,NaT,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
6,"118""",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
7,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
8,NaN,NaN,NaT,4/11A5,NaN,NaN,NaN,NaN,NaT,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
9,202-1,NaN,NaT,原料日期,NaN,NaN,NaN,NaN,NaT,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [17]:
length = today.shape[0]